<%- include('Header.ejs'); %>
  <body id="body" class="d-flex flex-column min-vh-100" style="background-image: url('../Images/mathieu-chassara-0b3Nkg9oisc-unsplash.jpg');/* height: 100%; */background-size: cover;background-repeat: no-repeat;background-attachment: fixed;background-position-y: center;background-position-x: center;"></body>
    <%- include('Navegacion.ejs', {ventana:"CLASES", tipo_usuario:tipo, notificacion}); %>
    <div class="card mx-auto background cardLista mb-2">
      <div class="card-body" id="cardB">
        <div class="row">
          <div class="col-8">
            <h1 class="card-title tituloLista">Clases</h1>
          </div>
          <div class="col-4">
            <% if(tipo === "Administrador"){ %>
              <div class="row justify-content-end">
                <div style="width: auto;">
                  <button type="button" class="btn btn-primary publicarTodas">Publicar todas</button>
                </div>
              </div>
            <% } else if(tipo === "Instructor") { %>
              <div class="row justify-content-end">
                <div style="width: auto;">
                  <button type="button" class="btn btn-primary marcarTodas">Marcar todas vistas</button>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div id="clases">

    </div>
    <%- include('Mensaje.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Utilidades.js"></script>
    <script src="../Js/Mensaje.js"></script>
    <script>const tipo = '<%= tipo%>';</script>
    <script src="../Js/Clases.js"></script>
    <script src="../Clase.js"></script>
  </body>
</html>