<div class="modal fade" id="modalMensaje" tabindex="-1" aria-labelledby="tituloMensaje" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content background">
      <div class="modal-body d-grid gap-4">
        <h3 class="text-center" id="tituloMensaje"></h3>
        <h4 class="text-center" id="mensaje"></h4>
        <div class="row justify-content-end">
          <div class="col-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
          </div>
      </div>
    </div>
  </div>
</div>