<nav class="navbar fixed-top navbar-expand-lg navbar-dark background mb-3" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../Images/Logo.png" alt="" height="30">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      <li class="nav-item">
      <% if (ventana === "CALENDARIO") { %>
        <a class="nav-link active" href="/Calendario/<%= tipo_usuario %>">Calendario</a>
      <% } else { %>
        <a class="nav-link" href="/Calendario/<%= tipo_usuario %>">Calendario</a>
      <% } %>
      </li>
      <% if(tipo_usuario === "Administrador"){ %>
      <li class="nav-item">
        <% if (ventana === "INSTRUCTORES") { %>
          <a class="nav-link active" href="/Instructores">Instructores</a>
        <% } else { %>
          <a class="nav-link" href="/Instructores">Instructores</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if (ventana === "CLIENTES") { %>
          <a class="nav-link active" href="/Clientes">Clientes</a>
        <% } else { %>
          <a class="nav-link" href="/Clientes">Clientes</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if (ventana === "SERVICIOS") { %>
          <a class="nav-link active" href="/Servicios">Servicios</a>
        <% } else { %>
          <a class="nav-link" href="/Servicios">Servicios</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if (ventana === "SALA") { %>
          <a class="nav-link active" href="/Sala">Sala</a>
        <% } else { %>
          <a class="nav-link" href="/Sala">Sala</a>
        <% } %>
      </li>
      <% } else if(tipo_usuario === "Cliente"){ %>
      <li class="nav-item">
        <% if (ventana === "PAGOS") { %>
          <a class="nav-link active" href="/Pagos">Pagos</a>
        <% } else { %>
          <a class="nav-link" href="/Pagos">Pagos</a>
        <% } %>
      </li>
      <% } %>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <% if (ventana === "OTRO") { %>
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% } else { %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% } %>
          <% if(tipo_usuario === "Administrador"){ %>
            Administrador
          <% } else if(tipo_usuario === "Cliente"){ %>
            Cliente
          <% } else if(tipo_usuario === "Instructor"){ %>
            Instructor
          <% } %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            <% if(tipo_usuario === "Administrador"){ %>
            <li><a class="dropdown-item" href="/NuevoAdministrador">Nuevo administrador</a></li>
            <% } %>
            <li><a class="dropdown-item" href="/Perfil/<%= tipo_usuario %>">Perfil</a></li>
            <li><a class="dropdown-item cerrarSesion">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
