<% for(let pago of lista){ %>
  <div class="card mx-auto background cardLista mt-2">
    <div class="card-body" id="cardB">
      <div class="d-flex justify-content-between">
        <div class="">
          <h2 class="card-title tituloElementoLista2"><%= pago.getFecha() %></h2>
        </div>
        <div class="">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPagar">Pagar</button>
        </div>
      </div>
    </div>
  </div>
<% } %>