
<%- include('Header.ejs'); %>
<body id="body" class="d-flex flex-column min-vh-100" style="background-image: url('../Images/nathan-dumlao-pzLbV-NFT40-unsplash.jpg');/* height: 100%; */background-size: cover;background-repeat: no-repeat;background-attachment: fixed;background-position-y: center;background-position-x: center;"></body>
  <%- include('Navegacion.ejs', {ventana:"PAGOS", tipo_usuario:"Cliente"}); %>
  <div class="card mx-auto background cardLista mb-2">
    <div class="card-body" id="cardB">
      <div class="row justify-content-between">
        <div class="col-12">
          <h1 class="card-title tituloLista">Pagos pendientes</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="pagos">

  </div>
  <div class="modal fade" id="modalPagar" tabindex="-1" aria-labelledby="pagarModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content background">
        <div class="modal-body d-grid gap-4">
          <h3 class="text-center" id="pagarModal">Pagar</h3>
          <form class="d-grid col-9 mx-auto gap-2" id="formPagar">
            <div>
              <label for="formaDePago" class="form-label">Forma de pago</label>
              <select name="formaDePago" id="formaDePago" class="form-control" aria-describedby="formaDePago">
                <option value="" disabled selected hidden>Forma de pago</option>
                <option value="SINPE">SINPE</option>
                <option value="EFECTIVO">Efectivo</option>
              </select>
            </div>
            <div class="row justify-content-end">
              <div class="col-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              </div>
              <div class="col-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('Mensaje.ejs'); %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../usar-ajax.js"></script>
  <script src="../Js/Mensaje.js"></script>
  <script src="../Pagos.js"></script>
  <script src="../Js/Pagos.js"></script>
</body>
</html>