.cardDia{
  height: 7rem;
}

.calendario{
  width: 62rem;
}

.diaAmarillo{
  color: #383D3E;
  background: #FFF358;
}

.diaVerde{
  color: #383D3E;
  background: #0DFF00;
}

.diaVerde:hover{
  cursor: pointer;
}

.diaBlanco{
  color: #383D3E;
  background: #FFFFFF;
}
.diaBlanco:hover{
  cursor: pointer;
}

.tituloDia{
  font-size: large;
  text-align: left;
}

.punto{
  padding: 4px;
  border-radius: 50%;
  background-color: #383D3E;
  max-width: 4px;
  max-height: 4px;
  margin: auto;
}

.clasesCalendarioDia{
  width: fit-content;

}

.rowDia{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.botonesCalendario{
  height: fit-content;
  width: fit-content;
  color: #383D3E;
  background-color: #0DFF00;
  border-radius: 100%;
  padding: 5px;
  margin: auto;
}